@model List<SWTS.Models.Supplier>
@using SWTS.Models
@{
    ViewBag.Title = "Suppliers";

}

@section navigation{
    <div class="ui-menu" id="leftMenu">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseOne">
                    <i class="glyphicon ui-icon-gear glyphicon-home"></i> @Categories.Diary
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="dropdown-inner">
                    <ul>
                        <li>This is one</li>
                        <li>This is two</li>
                        <li>This is Three</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                    <i class="glyphicon glyphicon-th"></i> @Categories.Bread
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="dropdown-inner">
                    <ul>
                        <li>This is one</li>
                        <li>This is two</li>
                        <li>This is Three</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                    <i class="glyphicon glyphicon-leaf"></i> @Categories.Meat
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                    <ul>
                        <li>This is one</li>
                        <li>This is two</li>
                        <li>This is Three</li>
                    </ul>                 
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFour">
                    <i class="glyphicon glyphicon-star"></i> @Categories.Confectionery
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                    <ul>
                        <li>This is one</li>
                        <li>This is two</li>
                        <li>This is Three</li>
                    </ul>                 
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFive">
                    <i class="glyphicon glyphicon-cog"></i> @Categories.Tobacco
                </a>
            </div>
            <div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                    <ul>
                        <li>This is one</li>
                        <li>This is two</li>
                        <li>This is Three</li>
                    </ul>                 
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseSix">
                    <i class="glyphicon glyphicon-file"></i> @Categories.Cosmetics
                </a>
            </div>
            <div id="collapseSix" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                    <ul>
                        <li>This is one</li>
                        <li>This is two</li>
                        <li>This is Three</li>
                    </ul>                 
                </div>
            </div>
        </div>
    </div>
}

<h2>Suppliers</h2>
@foreach (var supplier in Model)
{
    <p>@supplier.Name</p>
    <p>@supplier.Address</p>
    <p>@supplier.PostCode</p>
    <p>@supplier.City</p>
    <p>@supplier.Country</p>
    <p>@supplier.Email</p>
    <p>@supplier.Phone</p>
    <p>@supplier.Lat</p>
    <p>@supplier.Lng</p>
}
