@model List<Supplier>
@using SWTS.Models
@{
    ViewBag.Title = "Suppliers";

}
@section navigation{
    <div class="ui-menu" id="leftMenu">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseOne">
                    <i class="glyphicon ui-icon-gear glyphicon-home"></i> @Categories.Diary
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="dropdown-inner">
                    <ul>
                        @foreach (var item in Model.Where(item => item.Category == Categories.Diary))
                        {
                            <li>@Html.ActionLink(item.Name, "Supplier", "Home", new { id = item.SupplierId })</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                    <i class="glyphicon glyphicon-th"></i> @Categories.Bread
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="dropdown-inner">
                    <ul>
                        @foreach (var item in Model.Where(item => item.Category == Categories.Bread))
                        {
                            <li>@Html.ActionLink(item.Name, "Supplier", "Home", new { id = item.SupplierId })</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                    <i class="glyphicon glyphicon-leaf"></i> @Categories.Meat
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul>
                        @foreach (var item in Model.Where(item => item.Category == Categories.Meat))
                        {
                            <li>@Html.ActionLink(item.Name, "Supplier", "Home", new { id = item.SupplierId })</li>
                        }
                    </ul>                 
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFour">
                    <i class="glyphicon glyphicon-star"></i> @Categories.Confectionery
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul>
                        @foreach (var item in Model.Where(item => item.Category == Categories.Confectionery))
                        {
                            <li>@Html.ActionLink(item.Name, "Supplier", "Home", new { id = item.SupplierId })</li>
                        }
                    </ul>                 
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFive">
                    <i class="glyphicon glyphicon-cog"></i> @Categories.Tobacco
                </a>
            </div>
            <div id="collapseFive" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul>
                        @foreach (var item in Model.Where(item => item.Category == Categories.Tobacco))
                        {
                            <li>@Html.ActionLink(item.Name, "Supplier", "Home", new { id = item.SupplierId })</li>
                        }
                    </ul>                 
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="dropdown-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseSix">
                    <i class="glyphicon glyphicon-file"></i> @Categories.Cosmetics
                </a>
            </div>
            <div id="collapseSix" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul>
                        @foreach (var item in Model.Where(item => item.Category == Categories.Cosmetics))
                        {
                            <li>@Html.ActionLink(item.Name, "Supplier", "Home", new { id = item.SupplierId })</li>
                        }
                    </ul>                 
                </div>
            </div>
        </div>
    </div>
}
