<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="container"> 
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-xs-12">
                    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <img class="truck" alt="truck" src="@Url.Content("~/Content/images/tracking-icon.png")" />
                            <a class="navbar-brand" href="#">Small Web based Suppliers Tracker</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-2">
                    @RenderSection("navigation", required: false)
                </div>
            }
            <div class="col-sm-6">
                @RenderBody()
            </div>
            <div class="footer col-xs-12">
                <p>Copyright © 2013 devHaris All rights reserved.</p>
            </div>
        </div> 
        

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    </body>
</html>








